h1{
    font-size:40;
    text-align:center
}

html{
    background-image: url(statue2.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.navBar{
    display:flex;
    justify-content: space-around;
    align-content: center;
   width: 1200px;}

